* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat";
}

#wrapper {
    background-color: crimson;
    height: 100vh;
}

main {
    background-color: rgb(139, 111, 111);
    height: calc(100% - 100px);
    display: flex;
}

.main-menu {
    background-color: rgb(0, 0, 0);
    width: 200px;
}

.main-content {
    background-color: rgb(36, 36, 49);
    width: calc(100% - 200px);
    padding-bottom: 100px;
    overflow: auto;
}

footer {
    background-color: blue;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header {
    display: flex;
    background-color: rgb(15, 14, 17);
    justify-content: end;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 2;

}

.button-outline {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 500px;
}

.button-outline:hover {
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.tab {
    cursor: pointer;
    color: lightslategray;
    font-weight: bold;
}

.tab:hover {
    color: white;
}

.selected::after {
    position: relative;
    bottom: 0;
    width: 50%;
    background-color: rgb(21, 206, 21);
    height: 2px;
    content: "";
    display: block;

}

.selected {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
li {
    color: lightgray;
}

.playlist {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cards {
    display: flex;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;


}

.slide {
    padding-left: 15px;
    padding-bottom: 10px;
}

.playlist:hover {
    cursor: pointer;
}

.round {
    border-radius: 100%;
}