* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat";
}

#wrapper {
    background-color: crimson;
    height: 100vh;
}

main {
    background-color: rgb(139, 111, 111);
    height: calc(100% - 100px);
    display: flex;
}

.side-menu {
    background-color: rgb(0, 0, 0);
    width: 300px;
}

.main-content {
    background-color: rgb(36, 36, 49);
    width: calc(100% - 200px);
    padding-bottom: 100px;
    overflow: auto;
}

footer {
    background-color: #222;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header {
    display: flex;
    background-color: rgb(15, 14, 17);
    justify-content: end;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 2;

}

.button-outline {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 500px;
}

.button-outline:hover {
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.tab {
    cursor: pointer;
    color: lightslategray;
    font-weight: bold;
}

.tab:hover {
    color: white;
}

.selected::after {
    position: relative;
    bottom: 0;
    width: 50%;
    background-color: rgb(21, 206, 21);
    height: 2px;
    content: "";
    display: block;

}

.selected {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
li {
    color: lightgray;
}

.playlist {
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cards {
    display: flex;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6);
    text-align: center;
}

h2 {
    padding-bottom: 7px;
    padding-top: 20px;


}

.slide {
    padding-left: 15px;
    padding-bottom: 10px;
}

.playlist:hover {
    cursor: pointer;
}

.playlist i:first-child:hover {
    cursor: pointer;
    color: white
}

.round {
    border-radius: 100%;
}

p {
    padding-bottom: 10px;
}

.side-logo {
    width: 200px;
    padding: 10px;
    padding-bottom: 30px;
}

.side-img {
    width: 25px;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(92, 90, 90);
    font-weight: bold;
    cursor: pointer;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.playlist-item:hover {
    color: white;
}

.side-txt {
    padding: 10px;
    padding-left: 2px;
}

.download-img {
    width: 15px;
}

.install {
    gap: 10px;
    display: flex;
    margin-left: 20px;
    margin-top: 120px;
    cursor: pointer;
}

.line {
    color: lightslategrey;
    border: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-img {
    width: 30px;
    border-radius: 300;
    background-color: lightslategray;
    margin-right: 5px;
    height: 30px;
    border-radius: 20px;

}

.profile {
    display: flex;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.profile-txt {
    padding: 4px;
    padding-left: 2px;
    font-weight: bold;
    color: white;
}

i {
    color: lightslategray;
}

/*PLAYER*/

.player-img {
    width: 50px;
    height: 50px;
}

.player-container {
    display: flex;
    height: 100%;
}

.info-section {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    margin-left: 15px;

}

.progress-section {
    width: calc(100% / 3);
}

.feature-section {
    width: calc(100% / 3);
}

footer .i {
    color: white;
    width: 5px;
    height: 5px;
}

.icons {
    display: flex;
    margin-left: 60px;
    gap: 15px;
}

.image-container {
    margin-right: 15px;
}

.fa-folder {
    height: 30px;
    width: 30px;
    color: gray;
}

.fa-heart {
    height: 30px;
    width: 30px;
    color: gray;
}

.artist {
    font-size: smaller;
}

.title:hover,
.artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fa:hover {
    cursor: pointer;
    color: white;

}

.progress-controller {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fa-circle-play {
    font-size: xx-large;
    width: 30px;
}

.progress-controller i:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.2);

}

.progress-controller i {
    color: white;
}

.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 100%;
    background-color: #ccc4;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.progress {
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: lightgrey;
}

.progress-container {
    width: 100%;
    display: flex;
    gap: 10px;

}

.timing {
    margin-top: 10px;
}

.progress-bar:hover .progress {
    background-color: lightgray;
    cursor: pointer;

}

.other-features {
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-top: 30px;
}

.volume-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
    margin-top: 6px;
    margin-right: 6px;
}

.feature-section i:hover {
    color: white;
    cursor: pointer;
}

.feature-section i{
    color: grey;
}

.progress:hover{
    cursor: pointer;
    color: white;
}